absl-py==2.1.0+computecanada
aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
annotated-types==0.6.0+computecanada
appdirs==1.4.4+computecanada
astunparse==1.6.3+computecanada
async-timeout==4.0.3+computecanada
attrs==23.2.0+computecanada
biopython==1.79+computecanada
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7+computecanada
contextlib2==21.6.0+computecanada
deepspeed==0.12.4
dm-tree==0.1.6+computecanada
docker-pycreds==0.4.0+computecanada
einops==0.7.0+computecanada
fair-esm==2.0.0+computecanada
filelock==3.13.4
frozenlist==1.4.1
fsspec==2024.3.1+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43
hjson==3.1.0+computecanada
huggingface-hub==0.22.2+computecanada
idna==3.7
ihm==1.0
lightning-utilities==0.11.2+computecanada
mdtraj==1.9.7+computecanada
ml-collections==0.1.0+computecanada
modelcif==0.7
msgpack==1.0.4+computecanada
multidict==6.0.5
ninja==1.11.1+computecanada
numpy==1.21.2+computecanada
openfold @ file:///lustre06/project/6069023/jyaacoub/openfold
packaging==24.0
pandas==1.5.3+computecanada
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0+computecanada
pydantic==2.5.2+computecanada
pydantic-core==2.14.5+computecanada
pynvml==11.5.0+computecanada
pyparsing==3.1.2
python-dateutil==2.9.0.post0+computecanada
pytorch-lightning==2.0.4
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
safetensors==0.4.1+computecanada
scipy==1.7.1+computecanada
sentry-sdk==1.45.0
setproctitle==1.3.2+computecanada
six==1.16.0+computecanada
smmap==5.0.1+computecanada
tokenizers==0.15.0+computecanada
torch==1.12.1+cu113
torchmetrics==1.3.2+computecanada
tqdm==4.66.2+computecanada
transformers==4.39.3+computecanada
typing-extensions==4.11.0+computecanada
urllib3==2.2.1
wandb==0.16.6
yarl==1.9.4
